*.swp
*~
*.qcow2

.DS_Store

*.egg
*.egg-info
*.pyc

doc/source/devtest*.rst
openstack-tools
scripts/cinder
scripts/glance
scripts/heat
scripts/ironic
scripts/keystone
scripts/nova
scripts/neutron
scripts/os-apply-config
scripts/swift

.tox
doc/build
