*.swp
*~
*.qcow2

.DS_Store

*.egg
*.egg-info
*.pyc

doc/source/devtest*.rst
openstack-tools
scripts/cinder
scripts/generate-keystone-pki
scripts/glance
scripts/heat
scripts/init-keystone
scripts/ironic
scripts/keystone
scripts/nova
scripts/neutron
scripts/openstack
scripts/os-apply-config
scripts/register-nodes
scripts/swift

.tox
doc/build
